---
layout: default
---
{% seo %}
<h3>{{ page.title }}</h3>
<span>Preis: {{ page.price }}</span>
{% assign low = page %}
{% for product in site.digistore24 %}
    {% if product.url == page.url or product.title != page.title %}
        {% continue %}
    {% endif %}
    {% if product.price < low.price %}
        {% assign low = product %}
    {% endif %}
{% endfor %}
{% if low.price != page.price %}
    <p>Das Produkt ist <a href ="{{ site.baseurl }}{{ low.url }}">hier</a> günstiger erhältlich.</p>
{% else %}
    <br /><br />
{% endif %}
{{ content }}
<h4>Ähnliche Produkte</h4>
<ul>
{% assign words = page.title | split: ' ' %}
{% for product in site.digistore24 %}
    {% if product.url == page.url %}
        {% continue %}
    {% endif %}
    {% for word in words %}
        {% if word.size > 5 and product.title contains word %}
            <li><a href ="{{ site.baseurl }}{{ product.url }}">{{ product.title }}</a> für {{ product.price }}</li>
        {% endif %}
    {% endfor %}
{% endfor %}
</ul>